body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body { font-family: Helvetica, Arial, sans-serif; }

.container {
    width: 1100px;
    margin: 0 auto;
    padding-left: 5%;
}


body {
    background: url(../indexImgs/chicagoBG.jpg) no-repeat;
    background-color:#003366;
}

#main {
  background: url(../indexImgs/header.png) no-repeat;
}

header {
  margin-bottom: 29px;
}

ul#menu {
  list-style: none;
  padding-top: 112px;
  padding-left: 420px;
}

ul#menu li {
  font-family: Verdana;
  float: left;
  padding-left: 30px;
}

ul#menu li a{
  font-size: 18.5px;
  color: #A9E73F;
  text-decoration: none;
}

section {
  margin-top:2%;
  font-size: 16px;
  color: #666666;
  padding-left: 2%;
  width: 514px;
  display: inline-block;
  position:relative;
  left:0;
  top:0;
  line-height: 110%;
}

section a {
  color: #367BA9;
}

aside {
  float:right;
  margin-right:5%;
  margin-top:5%;
}

aside ul {
  list-style: none;
}

aside ul a {
  font-size:14px;
  color: #989898;
}

aside ul a:hover {
  color: #367BA9;
}

aside h3 {
  color: #FF8C00;
  font-weight: normal;
  font-size: 19px;
}


footer {
  padding-left: 60px;
  padding-top: 50px;
  color: gray;
  line-height: 130%;
  padding-bottom:30px;
  font-size: 12px;

}

small {
  color: #014647;
}


#content {
  position:relative;
  width: 850px;
  background-color:rgba(255,255,255,0.90);
  padding:15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: -10px 0px 5px rgba(0,0,0,0.50);
}

#profilePic {
  height:200px;
  width:200px;
  border-radius:8px;
  box-shadow: -5px 0px 3px rgba(0,0,0,0.30);


}

#twitter {
  display: inline-block;
}

#facebook {
  display: inline-block;
}

#linkedIn{
  display: inline-block;
}

#gitHub{
  display: inline-block;
}

#quora{
  display: inline-block;
}

#email {
  color: #868686;
  font-size:19px;
  margin-top:3%;
}

#techBlog {
  margin-top:15%;
  line-height:120%;
}

#culturalBlog {
  margin-top:10%;
  line-height:120%;
}

section h2 {
  /*padding-bottom: 15px;*/
  color: #FF8C00;
  font-size: 22px;
}

section h3 {
  /*padding-bottom: 15px;*/
  color: #FF8C00;
}

#asideLine1 {
  background-color: #367BA9;
  height: 1px;
  width: 93%;
  margin-bottom: 17px;
  margin-top:2px;
}

.asideLine2 {
  background-color: #7ec5e8;
  height: 2px;
  width: 93%;
  margin-bottom: 10px;
}

#imgLeadPost {
  height:100%;
  width:100%;
  display:block;
  margin-left: auto;
  margin-right: 96%;
  margin-bottom: 4%;
  float: left;

}

#line {
  width: 100%;
  border: solid 1px lightgray;
  margin-bottom: 8%;
  display: inline-block;
}

section p {
  margin-top:20px;
  margin-bottom:20px;
  font-size: 14px;
  line-height: 20px;
}

section ul li {
  margin-left: 30px;
}
