html {
  background-color:white;
  font-family: Helvetica Neue;
}

.myname {
  font-size:400%;
  color: #636363;
  text-align: center;
  margin-top: 3%;
}

div:first-child {
    text-align: center;
}

div:first-child a {
  text-decoration: none;
}

a:link {
  color: #808080;
}

a:visited {
  color: #808080;
}

#atdbc {
  text-align: center;
  color: #636363;
  font-size: 1.2em;
  margin-bottom: 3%;
  position: relative;
  top: -5px;
}

#description {
  color:white;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  padding:3px;
    background: -webkit-linear-gradient(left, white, #8c8c8c, #8c8c8c, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, white, #8c8c8c, #8c8c8c, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, white, #8c8c8c, #8c8c8c, white); /* For Firefox 3.6 to 15 */
}

.gray_text {
  color: #636363;
}

#left {
  position: absolute;
  display: inline-block;
  margin-left:6%;
  margin-right: 43%;
  margin-bottom: 5%;

}

#right {
  position: relative;
  display: inline-block;
  margin-left:65%;
  margin-right:10%;
  margin-bottom: 7%;
}

#profile {
  height: 160px;
  width:160px;
  float: left;
  margin-bottom: 10%;
  margin-right: 20%;
  margin-top: 23px;
  border-radius: 8px;
  border: #eeeeee solid 2px;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.3);
}

#examples {
  width: 100%;
  border: solid lightgray 2px;
  margin-bottom: 30px;
  border-radius: 5px;
  margin-top: 10px;
}

div:nth-child(5) a{
  font-size: 80%;
}

#line {
  width: 100%;
  border: solid 1px lightgray;
  margin-bottom: 8%;
}

#line2 {
  width: 100%;
  border: solid 1px lightgray;
  margin-bottom: 3%;
}

#imgJavaScript {
  height:30%;
  width:30%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#imgPrivacy {
  height:70%;
  width: 70%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2px;
  border: solid 2px lightgray;
  margin-bottom: 4%;
}

#imgChocolates {
  height:70%;
  width:70%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#imgWeek5Code {
  height:100%;
  width:100%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#code_example {
  font-size: .9em;
}

