
body {
width: 98%;
color: black;
font: Verdana, Arial, sans-serif;
font-size:1em;
}
header {
padding-top:22px;
padding-bottom:20px;
border-radius: 5px;
font-size: 1.2em;
background-color: #663300;
color: white;
text-align: center;
}
#definitions {
margin-top:10px;
background-color: beige;
padding:20px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
#profiles {
width: 100%;
padding-top:10px;
background-color: #c1c1c1;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
#profile_left {
display:inline-block;
width: 48%;
}
#profile_right {
display:inline-block;
width:48%;
}
img {
padding: 5px;
height: 180px;
width: 180px;
display:inline-block;
border-radius: 8px;
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.3);
}
#bio {
display: inline-block;
width: 50%;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 20px;
}
#reflection {
  display: inline-block;
  margin-top: 1%;
  width: 98%;
  background-color: lightblue;
  padding: 1%;
  padding-bottom: 20px;
  border-radius: 5px;
}



footer p {
  padding-right: 10px;
  padding-left: 5px;
}