html {
  background-color:white;
  font-family: Arial;
  color: #636363;
}

a {
  text-decoration: none;
}

nav a {
  padding: 5px;
}

a:link {
  color: #939393;
}

a:visited {
  color: #939393;
}

#photo {
  border: #eeeeee solid 2px;
  border-radius: 8px;
  height: 220px;
  width: 220px;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.3);
}

header {
  padding-left: 180px;
  height: 140px;
  background: -webkit-linear-gradient(left, white, #eeeeee, #eeeeee, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, white, #eeeeee, #eeeeee, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, white, #eeeeee, #eeeeee, white); /* For Firefox 3.6 to 15 */
}

nav {
    font-size: 1.2em;
    padding-top: 110px;
    width: 1000px;
}

#middle {
  height: 5%;
  margin-top: 40px;
  color: #808080;
  font-size: 1em;
}

p a {
  display:block;
}

footer {
  padding-top: 6px;
  padding-left: 180px;
  height: 500px;
  font-size: 1.2em;
  width: 1000px;
  background: -webkit-linear-gradient(left, white, #eeeeee, #eeeeee, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, white, #eeeeee, #eeeeee, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, white, #eeeeee, #eeeeee, white); /* For Firefox 3.6 to 15 */
}

footer a {
  padding: 5px;
}

#left {
  float: left;
  width: 300px;
  display: inline-block;
  margin-right: 300px;
  margin-left: 200px;
  margin-bottom: 5%;
}

#line_top {
  height: 2px;
  background: -webkit-linear-gradient(left, white, #999999, #999999, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, white, #999999, #999999, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, white, #999999, #999999, white); /* For Firefox 3.6 to 15 */
}


#line_name {
  height: 2px;
  margin-top:2px;
  background: -webkit-linear-gradient(left, #cccccc, #cccccc, #cccccc, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #cccccc, #cccccc, #cccccc, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #cccccc, #cccccc, #cccccc, white); /* For Firefox 3.6 to 15 */
}

#email {
  text-align: center;
  width: 220px;
  display: block;
  margin-top:10px;
}

#davidlamps {
  font-size:1.1em;
  color: #878787;
}

#line_email {
  height: 2px;
  margin-top:5px;
  background: -webkit-linear-gradient(left, white, #cccccc, #cccccc, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, white, #cccccc, #cccccc, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, white, #cccccc, #cccccc, white); /* For Firefox 3.6 to 15 */
}

#line_bottom {
  height: 2px;
  margin-top: 110px;
  background: -webkit-linear-gradient(left, white, #cccccc, #cccccc, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, white, #cccccc, #cccccc, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, white, #cccccc, #cccccc, white); /* For Firefox 3.6 to 15 */
}
